RewriteEngine On

# Si el archivo o carpeta existe, lo sirve normalmente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Si no existe, redirige todo a index.php
RewriteRule ^(.*)$ index.php [QSA,L]